/*fonts */
@font-face {
    font-family: Racing;
    src: url("Fuentes/Racing_Sans_One/RacingSansOne-Regular.ttf");
  }
  @font-face {
    font-family:RedRose;
    src: url("Fuentes/Red_Rose/static/RedRose-Regular.ttf");
  }
  @font-face {
    font-family:RedRose;
    src: url("Fuentes/Red_Rose/static/RedRose-Bold.ttf");
  }




.nombreYperfil{
    padding-top: 0%;
    display: flex;
    flex-direction:row;
    justify-items: center;
    overflow: hidden;
    margin-bottom: 6.5vw;
}

.nombreYperfil h1{
    font-family: Racing;
    font-size: 5.6vw;
}