/*fonts */
@font-face {
    font-family: Racing;
    src: url("../Fuentes/Racing_Sans_One/RacingSansOne-Regular.ttf");
  }
@font-face {
    font-family:RedRose;
    src: url("../Fuentes/Red_Rose/static/RedRose-Regular.ttf");
  }
@font-face {
    font-family:BoldRose;
    src: url("../Fuentes/Red_Rose/static/RedRose-Bold.ttf");
  }

main{
  margin: -1vw;
  background-color: #3430D5;
}


.entrada{
    justify-items: center;
    display: flex;
    flex-direction:row;
}

.nombreYperfil{
    padding-left: 2vw; padding-right: 2vw;

    width: 50vw;
    padding-top: 0%;

    background-color: #3430D5;

    overflow: hidden;

    margin-bottom: 6.5vw;
}


.nombreYperfil h1{
    justify-self: left;
    color: #F5F5DC;
    font-family: Racing;
    font-size: 9vw;
    margin: 0.3vw;
}

.fondoRosa{
    padding: 0.6vw;
    width: 50vw;
    background-color: #F04333;
}

.fondoRosa h2{
    justify-self: center;
    color: #F5F5DC;
    font-family: BoldRose;
    font-size: 1.2vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
}

.textoFondoBlanco{
    margin: 2vw;
    padding: 2vw;
    background-color: #F5F5DC;
}

.textoFondoBlanco p{
    justify-self: left;
    color: #5C1212;
    font-family: BoldRose;
    font-size: 1.2vw;
}

.tituloFondoBlanco{
    width: 50vw;
    margin: 0.5vw;
    padding: 0.2vw;
    background-color: #F5F5DC;
}

.tituloFondoBlanco h3{
    justify-self: center;
    color: #F04333;
    font-family: Racing;
    font-size: 5vw;
    margin: 0.8vw;
}
